<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        body {
            font-family: "Microsoft YaHei", serif;
            user-select: none;
        }

        body, dl, dd, p, h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        ol, ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        img {
            border: none;
        }

        a {
            text-decoration: none;
        }

    </style>
</head>
<body>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">输入框</label>
            <div class="layui-input-inline">
                <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码框</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">辅助文字</div> -->
        </div>





        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script src="/layui/layui.js"></script>
    <script>
        //Demo
        layui.use('form', function(){
            const form = layui.form;
            const $ = layui.$;
            //监听提交
            form.on('submit(formDemo)', function(data){
                $.ajax({
                    url: '/reg',
                    method: 'POST',
                    data: {
                        username: data.field.username,
                        password: data.field.password
                    },
                    success(data){
                        layer.alert(data.msg)
                    }
                });
                return false;
            });

        });
    </script>
</body>
</html>